{% extends "base.html" %}

{% block content %}

<div class="container">
			<h2>Tu Carro de Compras</h2>
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Detalle de la Reserva</h4></div>
	  	<TABLE class = 'table table-bordered table-striped table-hover'>
	  		<TR>
	  			<th></th>
	  			<TH>id</TH>
				<TH>nombre</TH>
				<TH>descripcion</TH>
				<TH>stock</TH>
				<TH>cantidad</TH>
				<TH>precio</TH>
				<TH>eliminar</TH>
			</TR>
				
			{% for producto in productos %}
			<form action="{{ url_for('show_carro') }}" method="post">
			<TR>
				<TD>
					<IMG SRC="{{url_for('static', filename= producto.img_url )}}" width="50" height="50"></IMG>
				</TD>
				<TD>
					<label name="label" class="control-label">
						{{ producto.id }}
					</label>
				</TD>
				<TD>{{ producto.nombre }}</TD>
				<TD>{{ producto.descripcion }}</TD>
				
				<TD>{{ producto.stock }}</TD>
				<TD>
					<div>
						<input name = "cantidad" type="number" class="form-control" placeholder="Cantidad" value = "{{ producto.id }}">
					</div>
				</TD>

				<TD class="text-danger"><strong>${{ producto.precio_neto }}</strong></TD>

				<TD>
					<div class="">
						<button type="button" class="btn btn-warning">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</TD>
			</TR>
			</form>

			{% endfor %}

			<TR>
				<TD></TD>
				<TD>Carro</TD>
				<TD>Total de la Compra</TD>
				<TD></TD>
				<TD></TD>
				<TD></TD>
				<TD></TD>
				<TD></TD>
			</TR>	
		</TABLE>
	</div>

</div>
{% endblock content %}

