
{% extends "base.html" %} 

{% block title %}Perfil de Usuario{% endblock title %}

{% block content %}
<div class="container">
<h2>Perfil de usuario</h2>
<h4>{{ session.username }} <em class="text-success">{{ mensaje }}</em> </h4>
<div class="well col-sm-8">

    <ul class="nav nav-tabs">
      <li><a href="{{url_for('show_perfil')}}">Datos Cliente</a></li>
      <li class="active"><a>Datos Cuenta</a></li>
      <li><a href="{{url_for('show_empresa')}}">Datos Empresa</a></li>
    </ul>

    <form class="form-horizontal" role="form" name="input" 
        action="{{ url_for('modificar_cuenta') }}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <div class="col-sm-8">
                <label class="control-label">Correo</label>
                <input class="form-control" type="text" name="correo" value='{{ session.username }}' readonly>
                <label class="control-label">Ingrese Nueva Contraseña</label>
                <input class="form-control" type="password" name="clave1" placeholder="Ingresar Nueva Contraseña">
                <label class="control-label">Repita Nueva Contraseña</label>
                <input class="form-control" type="password" name="clave2" placeholder="Repetir Contraseña">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8">
                <input type="submit" value="Cambiar Contraseña" class="btn btn-default">
            </div>
        </div>
    </form>
</div>
</div>
{% endblock content %}
