
{% extends "base.html" %} 

{% block title %}Perfil de Usuario{% endblock title %}

{% block content %}
<div class="container">
<h2>Perfil de usuario</h2>
<h4>{{ session.username }} <em class="text-success">{{ mensaje }}</em> </h4>

<div class="well col-sm-8">

    <ul class="nav nav-tabs">
      <li class="active"><a>Datos Cliente</a></li>
      <li><a href="{{url_for('show_cuenta')}}">Datos Cuenta</a></li>
      <li><a href="{{url_for('show_empresa')}}">Datos Empresa</a></li>
    </ul>

    <form class="form-horizontal" role="form" name="input" 
        action="{{ url_for('modificar_perfil') }}" method="post" enctype="multipart/form-data">
        {% for client in cliente %}
        <div class="form-group">
            <div class="col-sm-8">
                <label class="control-label">Rut</label>
                <input class="form-control" type="text" name="rut" value='{{ client.rut }}'>

                <label class="control-label">Nombres</label>
                <input class="form-control" type="text" name="nombre" value='{{ client.nombre }}'>

                <label class="control-label">Apellidos</label>
                <input class="form-control" type="text" name="apellido" value='{{ client.apellido }}'>

                <label class="control-label">Dirección</label>
                <input class="form-control" type="text" name="direccion" value='{{ client.direccion }}'>

                <label class="control-label">Telefono</label>
                <input class="form-control" type="text" name="telefono" value='{{ client.telefono }}'>
            </div>
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-8">
                <input type="submit" value="Guardar Datos" class="btn btn-default">
            </div>
        </div>
    </form>
</div>
</div>
{% endblock content %}
