{% extends "base.html" %}

{% block content %}

<div class = "container">
<h2>Cervezas Bartsch</h2>
<div class="row">
{% for cerveza in cervezas %}
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="{{url_for('static', filename = cerveza.img_url )}}" alt="...">
      <div class="caption">
        <h3>{{ cerveza.nombre }}</h3>
        <p>
        	{{ cerveza.descripcion }}
        </p>
        <p>
          <a href="#" class="btn btn-primary" role="button">Botón</a>
          <a href="#" class="btn btn-default" role="button">Botón</a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock content %}






