{% extends "base.html" %}

{% block content %}

<div class = "container">
<h2>Cervezas Bartsch</h2>
<div class="row">
{% for entry in entries %}
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="{{url_for('static', filename='imagenes/cerveza01.jpg' )}}" alt="...">
      <div class="caption">
        <h3>{{ entry.title }}</h3>
        <p>
        	{{ entry.description }}
        </p>
        <p>
          <a href="#" class="btn btn-primary" role="button">Botón</a>
          <a href="#" class="btn btn-default" role="button">Botón</a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock content %}






