
{% extends "base.html" %} 

{% block title %}Formulario de creación{% endblock title %}

{% block content %}
<div class="container">
<h2>Registro de Cliente</h2>
 <p class = "text-warning">{{ error }}</p>


<div class="well col-sm-6">
    <form class="form-horizontal" role="form" name="input" 
        action="{{ url_for('new_registro') }}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <label class="control-label">Correo</label>
                <input name="correo" type="email" class="form-control" placeholder="Ingresar Correo">

                <label class="control-label">Contraseña</label>
                <input name = "clave1" type="password" class="form-control" placeholder="Contraseña">

                <label class="control-label">Confirmar Contraseña</label>
                <input name ="clave2" type="password" class="form-control" placeholder="Confirmar Contraseña">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
            <input type="submit" value="Registrarse" class="btn btn-default">
            </div>
        </div>
        
    </form>
</div>
</div>
{% endblock content %}
